@import "tailwindcss";

body {
  background-color: black;
  overflow: hidden; /* optional: completely disables scrolling */
}
html,
body {
  height: 100%;
  overflow: hidden; /* optional if you want NO page scroll */
}

/* Hide scrollbar everywhere (modern browsers) */
* {
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}